*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: 'Hind Madurai', sans-serif;
}

.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.container-fisso{
    width: 100%;
    height: 70px;
    background-color: #f5f8fa;
    border-bottom: 2px solid #cbd6e2;
    position: fixed;
    z-index: 2;
}

header{
    background-color: #f5f8fa;
    height: 140px;
    position: relative;
}

header .header-bottom{
    height: 50%;
    background-color:#f5f8fa;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}

.banner{
    background-color: #fff2ee;
    position: relative;
}

.bg-grey{
    background-color: #f5f8fa;
}

.bg-lightblue{
    background: linear-gradient( to bottom left,#0af6d0,#0eb0b0);
    /* DA CANCELLARE */
    height: 400px;
}

.customers{
    background-color: #ffffff;
    /* DA CANCELLARE */
    height: 400px;
}

footer{
    background-color: #33475b;
    /* DA CANCELLARE */
    height: 450px;
}

/* INIZIO PARTE FISSA */
.top-left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}

#english{
    border-right: 3px solid #d2dce6;
    padding-right: 20px;
}

#contact{
    margin-left:20px;
}

.top-left span{
    float: left;
    color:#33475b;
}

.top-right{
    float: right;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

.top-right i{
    color:#00a4bd;
}

#login{
    background-color: #ffffff;
    border-color: #ff7a59;
    border-radius: 3px;
    color:#ff7a59;
    padding:8px 5px;
    margin: 0 25px;
}

.orange.small{
    background-color: #ff7a59;
    border: none;
    border-radius: 3px;
    color:#ffffff;
    padding:9px 12px;
    margin-right: 5px;
}
/* FINE PARTE FISSA */

/* INIZIO HEADER */
.logo img{
    width: 150px;
    position: absolute;
    top: 50%;
    transform: translate(-15%, -50%);
    float: left;
}

nav.buttom-right{
    float: right;
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
}

.buttom-right ul{
    position: relative;
    color: #33475b;
}

nav li{
 float: left;
 list-style: none;
 margin-left: 30px;
}

.buttom-right i{
    padding-left: 15px;
}

li:hover{
    text-decoration: underline;
}
/* FINE HEADER */

/* INIZIO BANNER */
.banner img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    float: left;
}

.banner hr{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: #adeae3;
    border-top:2px solid #33475b;
    border-bottom:2px solid #33475b;
    border-right: none;
}

.jumbotron{
    float: left;
    width: 30%;
    position: absolute;
    margin-top: 75px;
}

.banner h1{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 40px;
    line-height: 1.0;
    color: #33475b;
    padding-bottom: 25px;
}

.banner p, span{
    font-size: 13px;
    color:#33475b;
    line-height: 1.8;
}

.orange-big{
    background-color: #ff7a59;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
}

.jumbotron .orange-big{
    margin: 25px 0;
}
/* FINE BANNER */
/* INIZIO MAIN */
.bg-grey #dado{
    width:15%;
    margin-top: 45px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
/* INIZIO TOP MAIN */
.bg-grey .top-main{
width: 53%;
position:relative;
left:50%;
transform: translateX(-50%);
text-align: center;
color: #33475b;
}

.top-main h2{
    font-size: 30px;
}

.top-main p{
    padding-top:15px;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 45px;
}
/* FINE TOP MAIN */
/* INIZIO CENTER MAIN */
.center-main{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px 1px lightgrey;
    border-radius: 2px;
    float: left;
}

 .center-left{
     width:30%;
     position: relative;
     margin-bottom: 70px;
     float: left;
 }

 .center-left img{
    width: 150px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin: 50px 0 70px 0;
 }

 .center-left .orange-big{
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.center-right{
    width: 70%;
    float: left;
    position: relative;
    color: #33475b;
}

.center-right{
    margin-top: 50px;
    float: left;
}

.center-right h3, h4{
    padding-bottom: 20px;
}

.center-right h3{
    font-size: 22px;
}

.center-right hr{
    width: 60%;
    float: right;
    position: absolute;
    top:68%;
    right: 15%;
    transform: translateY(50%);
}

.center-right p, span{
    font-size: 15px;
    padding-bottom: 15px;
}

.center-right p{
    line-height: 1.8;
}

.center-right i{
    color: #ff7a59;
    padding-right: 15px;
}

.center-right span{
    padding-right: 18px;
}
/* FINE CENTER MAIN  */
/* INIZIO CARDS  */
.card{
    width: calc(100%/3 - 24px);
    background-color: #ffffff;
    box-shadow: 1px 1px 2px 1px lightgrey;
    border-radius: 3px;
    float: left;
    background-color: #ffffff;
    padding: 50px;
    margin: 35px 0;
    text-align: center;
}

.card.center{
    margin-right: 35px;
    margin-left: 35px;
}

.card img{
    height: 120px;
}

.card h3{
    font-size: 22px;
    color: #33475b;
    padding: 20px 0 ;
}

.card p{
    font-size: 15px;
    line-height: 1.8;
    padding-bottom:45px;
}

.card h4{
    color: #33475b;
    padding-top: 35px;
}

.card ul{
    text-align: justify;
    padding-bottom: 35px;
}

.card li {
    list-style: none;
}

.card i{
    color: #ff7a59;
    padding-right: 12px;
}
/* FINE CARDS */
/* FINE MAIN */
